@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300;400&family=Lato:wght@100;400&family=Michroma&family=Roboto+Mono&family=Titillium+Web:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}
*{
    font-family: 'Lato', sans-serif;

}

.hash-span{
   padding-top: 100px;
}

.about-container {
    @media screen and (max-width: 900px){
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        margin-top: 0px;
    }
    justify-content: center;
    gap: 20px;
    color: white;
    margin-top: 0px;
    h2 {
    font-size: 38px;
    margin: 0px;
    color: #e1e1e1;
    }
    h1 {
    margin: 20px 0px;
    font-size: 80px;
    }
    .overview-top{
        flex: 0 1 auto;
        h2{
            font-size: clamp(2rem, 3vw, 4rem);
        }
        h1{
            font-size: clamp(4rem, 6vw, 8rem);
        }
        .intro-name {
            font-family: 'Caveat', cursive;
            margin: 0px;
            color: #FFFFFF;
            text-shadow: 0px 0px 5px #FFFFFF;
            font-size: clamp(1rem, 2.5rem, 3rem);
        }
        .intro-dev {
            font-family: 'Caveat', cursive;
            margin: 0px;
            font-size: 35px;
            color: #FF8000;
            text-shadow: 0px 0px 5px #FFFFFF;
            font-size: clamp(1rem, 2.5rem, 3rem);
        }
    }
    .overview-bottom{
        flex: 1 0 auto;
        width: 90%;
        border-radius: 20px;
        background-color: rgba($color: #FFFFFF, $alpha: 0.3);
        p {
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        color: #FFFFFF;
        margin: 10px 20px;
        margin-right: 20px;
        }
    }
    .svg-container {
        flex-wrap: wrap;
        justify-content: left;
        gap: 50px;
        margin-top: 50px;
        @media screen and (max-width:900px){
            width: 400px;
            justify-content: center;
        }
        svg {
            width: 90px;
            height: 90px;
            @media screen and (max-width:900px){
                width: 50px;
                height: 50px;
            }
            transition: .2s cubic-bezier(.09,.76,.51,.92);
            &:hover {
                transform: scale(1.2);
                color: #ade6ff;
            }
        }
    }
  .right-about,
  .left-about {
    @media screen and (max-width: 900px) {
        width: 90%;
        height: 45%;
        align-items: center;
    }
    width: 40%;
    height: 75%;
    flex-direction: column;
  }
  .right-about {
    gap: 20px;
  }

  .top-right-about,
  .bottom-right-about {
      width: 100%;
      height: 60%;
      gap: 20px;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 900px){
        flex-direction: column;
      }
  }
}
.card {
    background-color: rgba($color: #FFFFFF, $alpha: 0.3);
    height: 100%;
    border-radius: 1em;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    @media screen and (max-width:900px){
        overflow: hidden;
        width: 100%;
    }
    transition: .3s cubic-bezier(.09,.76,.51,.92);
    h3 {
        font-size: clamp(1rem, 5vw, 2rem);
        margin: 0px;
        margin-top: 20px;
        margin-left: 20px;
        color: rgba($color: #FFFFFF, $alpha: 0.7);
    }
    p {
        font-size: 1rem;
        color: rgba($color: #FFFFFF, $alpha: 1);
        margin: 20px 20px;
    }
    h4{
        font-size: 1.25rem;
    }
    .line {
        width: 90%;
        border: solid;
        border-color: #FFFFFF;
        margin: 10px 0px;
    }
    &:hover {
        background-color: rgba($color: #FFFFFF, $alpha: 0.4);
        box-shadow: 0px 0px 10px rgb(255, 69, 22);
        cursor: default;
    }
}
.half {
    width: 50%;
    @media screen and (max-width:900px){
        width: 100%;
    }
}
.full {
    width: 100%;
}

.portfolio-container {
    color: white;
    align-items: center;
    h2 {
        font-size: 38px;
        margin: 0px;
        color: #e1e1e1;
      }
      h1 {
        margin: 20px 0px;
        font-size: 80px;
      }
      p {
        font-size: 20px;
      }
    gap: 10px;
    flex-direction: column;
    .big-description {
        position: absolute;
        @media screen and (max-width: 900px){
            position: fixed;
            top: 100px;
        }
        flex-direction: column;
        align-items: center;
        z-index: 5;
        width: 80%;
        height: 80%;
        padding: 30px;
        background-color: rgba($color: #FFFFFF, $alpha: 1);
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        div {
            width: 60%;
            @media screen and (max-width: 900px){
                width: 95%;
            }
            height: 10%;
        }
        img {
            width: 60%;
            max-width: 700px;
            
            @media screen and (max-width: 900px){
                width: 95%;
            }
            height: auto;
            
        }
        h2{
            font-size: clamp(2rem, 3vw, 3rem);
            margin: 0px;
            font-family: 'Inter', sans-serif;
            color: #47C7FC;
        }
        button {
            svg {
                margin-top: 10px;
                height: 40px;
                width: 40px;
                @media screen and (max-width: 900px){
                    height: 25px;
                    width: 25px;
                }
                color: lightgray;
                &:hover{
                    cursor: pointer;
                }
            }
            background: none;
            border-style: none;
        }
        .big-description-header{
            justify-content: space-between;
            @media screen and (max-width: 900px){
                flex-direction: column;
                flex: 1 0 auto;
                justify-content:flex-start;
            }
            ul {
                list-style-type: none;
                gap: 9px;
                padding: 0px;
                li {
                    font-family: 'Caveat', cursive;
                    font-size: 26px;
                }
                :nth-child(1){
                    color: #47C7FC;
                }
                :nth-child(2){
                    color: #FF8000;
                }
                :nth-child(3){
                    color: black;
                }
                :nth-child(4){
                    color: rgb(158, 158, 158);
                }
            }
        }
        .big-description-text{
            flex: 1 0 auto;
            @media screen and (max-width: 900px) {
                flex: 1 0 auto;
                height: 50%;
            }
            overflow: hidden;
            p {
                font-size: clamp(.8rem, 1.5vw, 1.1rem);
                color: black;
                margin: 0px;
            }
        }
    }
}

.portfolio-header{
    width: 80%;
    h2{
        font-size: clamp(2rem, 3vw, 4rem);
    }
    h1{
        font-size: clamp(4rem, 6vw, 8rem);
    }
}

.works{
    gap: 20px;
    justify-content: center;
    width: 80%;
    height: 100%;
    @media screen and (max-width:900px){
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
}

.left-portfolio,
.right-portfolio {
    width: 50%;
    height: 90%;
    background-color: rgba($color: #FFFFFF, $alpha: 0.3);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 900px){
        width: 95%;
        height: 45%;
    }
    .right {
        background-image: url('/images/racegambitdemo.gif');
        background-size: cover;
        background-position: top center; 
    }
    .left {
        background-image: url('/images/ooatyperdemo.gif');
        background-size: cover;
        background-position: top center; 
    }
    .image { 
        overflow: hidden;
        transition: .4s;
        .button-overlay{
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: rgba($color: white, $alpha: 0.7);
            button {
                height: 70px;
                width: 150px;
                border: solid;
                border-radius: 5px;
                border-color: rgb(88, 88, 88);
                color: white;
                transition: .4s cubic-bezier(.09,.76,.51,.92);
                svg {
                    width: 35px;
                    height: 35px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .site {
                background-color: #ff9d3c;
                &:hover {
                    background-color: white;
                    color: #ff9328;
                    transform: scale(1.2);
                }
            }
            .git {
                background-color: #4057ff;
                &:hover {
                    background-color: white;
                    color: #0e2aff;
                    transform: scale(1.2);
                }
            }
        }
        margin-top: 20px;
        width: 93%;
        height: 55%;
        @media screen and (max-width: 900px){
            width: 95%;
            height: 40%;
        }
        border-style: none;
        border-radius: 10px;
    }
    .description {
        flex-direction: column;
        width: 93%;
        height: 35%;
        @media screen and (max-width: 900px){
            height: 55%;
        }
        margin-bottom: 20px;
        border-style: none;
        border-radius: 10px;
        transition: .3s ease-in;
        .description-header {
            overflow: hidden;
            height: 30%;
            flex: 0 0 auto;
            @media screen and (max-width: 900px){
                flex-direction: column;
            }
            @media screen and (min-width: 900px){
                align-items: center;
            }
            margin: 0px 20px;
            justify-content: space-between;
            h3 {
                font-family: 'Inter', sans-serif;
                color: #f1f1f1;
                font-size: 30px;
                margin: 0px;
                margin-top: 0px;
            }
            ul {
                padding: 0px;
                list-style-type: none;
                gap: 9px;
                li {
                    font-family: 'Lato', sans-serif;
                    font-size: clamp(.8rem, 1.5vw, 1rem);
                }
                :nth-child(1){
                    color: #47C7FC;
                }
                :nth-child(2){
                    color: #FF8000;
                }
                :nth-child(3){
                    color: black;
                }
                :nth-child(4){
                    color: white;
                }
            }
        }
        .description-main {
            margin: 0px 20px;
            overflow: hidden;
            p {
                margin: 0px;
                color: white;
                font-size: clamp(.8rem, 1.4vw, .9rem);
            }
            .more {
                margin-top: 10px;
                text-decoration: underline;
            }
        }
        .more {
            button {
                margin-left: 20px;
                margin-top: 10px;
                color: white;
                background: transparent;
                border-style: solid;
                border-color: white;
                transition: .2s ease-in;
                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: #47C7FC
                }
            }
        }
        &:hover{
            transform: scale(1.02);
            background-color: rgba($color: #FFFFFF, $alpha: 0.3);
            cursor: pointer;
        }
    }
    &:hover{
        cursor: auto;
    }
}

.contact-container {
    justify-content: center;
    gap: 20px;
    color: white;
    margin-bottom: 30px;
    @media screen and (max-width: 900px){
        flex-direction: column;
        align-items: center;
    }
    .right-contact, 
    .left-contact{
        @media screen and (max-width: 900px){
            width: 95%;
            height: 75%;
        }
        width: 40%;
        height: 85%;
        border-radius: 20px;
    }
    .right-contact {
        background-color: rgba($color: #FFFFFF, $alpha: 0.3);
        flex-direction: column;
        align-items: center;
        .input-fields {
            width: 100%;
            flex: .93 1 auto;
            border-radius: 20px;
            flex-direction: column;
            form {
                flex-direction: column;
                margin-left: 40px;
                margin-top: 30px;
                gap: 5px;
                flex-grow: 1;
                label {
                    font-size: 22px;
                }
                .regular-input {
                    width: 90%;
                    height: 40px;
                    padding-left: 10px;
                }
                .message-input {
                    width: 89%;
                    flex-grow: 1;
                    padding: 10px;
                    resize: none;
                }
                input, 
                textarea {
                    background-color: rgba($color: #FFFFFF, $alpha: 0.4);
                    border: none;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    color: rgb(109, 109, 109);
                    font-size: clamp(.9rem, 1.2vw, 2rem);
                }
                
                button {
                    width: 150px;
                    height: 40px;
                    border: none;
                    background-color: rgba($color: #FFFFFF, $alpha: 0.6);
                    border-radius: 10px;
                    color: #47C7FC;
                    transition: .3s ease-in;
                    &:hover {
                        color: #FF8000;
                        background-color: rgba($color: #FFFFFF, $alpha: 0.8);
                        cursor: pointer;
                        border-style: solid;
                        border-color: #FF8000;
                        border-width: 1px;
                    }
                }
            }
        }
    }
    .left-contact {
        flex-direction: column;
        align-items: center;
        .contact-header{
            width: 90%;
            h2{
                font-size: clamp(2rem, 3vw, 4rem);
            }
            h1{
                font-size: clamp(4rem, 6vw, 8rem);
            }
        }
        .contact-left {
            width: 100%;
            flex: 1 0 auto;
            gap: 20px;
            .contact-head {
                margin-top: 20px;
            }
            .card {
                align-items: center;
            }
            h3{
                font-size: clamp(1.1rem, 1.4vw, 2rem);
                margin: 10px 0px;
            }
            p{
                margin: 10px 0px;
                font-size: clamp(.9rem, 1.2vw, 2rem);
            }
        }
    }
    h2 {
        color: #e1e1e1;
        margin: 0px;
    }
    h1 {
        margin:20px 0px;
    }
}

.overlay-trans-enter-active {
    opacity: 0%;
}
.overlay-trans-enter-done {
    opacity: 100%;
    transition: all .5s cubic-bezier(.09,.76,.51,.92);
}
.overlay-trans-exit {
    opacity: 100%;
}
.overlay-trans-exit-active {
    opacity: 0%;
    transition: all .5s cubic-bezier(.09,.76,.51,.92);
}

body {
  overflow-x: hidden;
  background: rgb(71,199,252);
  background: linear-gradient(90deg, rgba(71,199,252,1) 10%, rgba(255,160,52,1) 90%);
  margin: 0px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar{
      display: none;
  }
}



.section{
    overflow-x: hidden;
    height: 800px;
    @media screen and (max-width: 900px){
        height: 1400px;
    }
}

.flex {
    display: flex;
}
.glow {
    text-shadow: 0px 0px 10px white;
}

.main-container {
  height: 800px;
  @media screen and (max-width: 900px){
    height: 700px;
  }
  width: 100%;
  color: white;
  font-size: 51px;
  text-align: center;
  scroll-snap-align: center;
  .name {
      margin-top: 0px;
      padding-top: 300px;
      padding-bottom: 50px;
  }
  h1 {
      font-size: clamp(3rem, 5vw, 9rem); 
      margin-top: 15%;
      margin-bottom: 0px;
      transition: 1s;
  }
  p{
      margin-top: -50px;
      font-size: 26px;
      transition: 1s;
  }
  .game-btn {
      height: 50px;
      width: 200px;
      background-color: transparent;
      border-style: solid;
      border-color: white;
      color: white;
      font-size: 18px;
      transition: .2s ease-in;
      &:hover {
          background-color: white;
          color: #47C7FC;
          cursor: pointer;
      }
  }
  &:hover {
    cursor: default;
  }
}
.nav-bar {
    background: #FFFFFF;
    width: 100vw;
    top: 0;
    z-index: 10;
    min-height: 75px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-top: .1rem; 
    padding-bottom: .1rem;
    transform: translate3d(0, 0, 10); /* Create a new stacking context */
    .mobile-header{
        @media  screen and (max-width: 1000px) {
            display: flex;
            width: 100%;
        }
        align-items: center;
        justify-content: space-between;
        margin: 0 30px;
        display: none;
        width: 90%;
        z-index: 100;
        .mobile-logo{
            font-size: 45px;
            margin: 0px 0px;
            font-family: 'Caveat', cursive;
            color: #47C7FC;
            margin-bottom: 3px;
            transform-origin: left;
            transition: .3s cubic-bezier(.09,.76,.51,.92);
        }
        .burger-bar{
            color: #FF8000;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .logo, 
    .right-header {
        @media screen and (max-width: 1000px) {
            display: none;
            width: 0px;
        }
        @media screen and (min-width: 1000px) {
            margin: 0px 30px;
        }
        svg{
            width: 30px;
            height: auto;
            margin-right: 15px;
        }
        .linked-icon{
            margin-top: 1.6px;
        }
    }
    ul{
        list-style: none;
        display: flex;
        gap: 30px;
        align-items: center;
        .underline{
            width: 80%;
            border-width: 1px;
            border-style: solid;
            margin-left: auto;
            margin-right: auto;
            border-color: rgb(175, 175, 175);
        }
        a {
            font-family: 'Lato', sans-serif;
            font-size: 28px;
            transition: all .3s ease-out;
            padding: .5rem .5rem .0rem .5rem;
            &:hover {
                color: #47C7FC;
            }
        }
        .active {
            background-color: rgb(233, 233, 233);
            border-radius: 10px;
        }
        li {
            transition: all .3s ease-out;
        }
        li:hover {
            transform: scale(1.09);
        }
    }
    a {
        text-decoration: none;
        transition: all .3s ease-out;
    }
    nav {
        display: flex;
        gap: 30px;
        a:hover {
            transform: scale(1.09);
            color: #47C7FC;
        }
    }
    .logo{
        font-size: 45px;
        font-family: 'Caveat', cursive;
        color: #47C7FC;
        margin-bottom: 3px;
        transform-origin: left;
        transition: .3s cubic-bezier(.09,.76,.51,.92);
    }
}

@media screen and (max-width: 1000px) {
    .side-menu{
        display: none;
    }
    .logo{
        margin-left: 10px;
    }
}

.side-menu {
    position: absolute;
    width: 50%;
    right: 15px;
    top:90px;
    justify-content: center;
    display: flex;
    z-index: 0;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 10px;
    ul {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0px;
    }
    .menu-icon{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

.active {
    color: black;
}

.non-active {
    color: #FF8000;
}

.ship-box{
    z-index: 1000;
    svg {
        position: absolute;
        width: 40px;
        height: 40px;
        color: rgb(255, 255, 255);
    }
}

.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }

.wasd {
    transform: translateY(40px);
    display: flex;
    justify-content: center;
    gap: 5px;
    .wa {
        flex-direction: column;
        gap: 5px;
        transform: translateY(-38px);
    }
    svg {
        height: 20px;
        width: 20px;
        padding: 5px;
        border-radius: 5px;
        border-style: solid;

    }
}